<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="author" content="{{settings.author}}">
    <link rel="shortcut icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    {{{block "css"}}}
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    {{{block "js"}}}
  </head>
  
  <body>

    <header>
      <nav class='navbar navbar-fixed-top' role='navigation'>
        <div class='navbar-header'>
          <a class='navbar-brand' href='/'>Express</a>
          <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-ex1-collapse'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
        </div>
        <div class='collapse navbar-collapse navbar-ex1-collapse'>

          <ul class='nav navbar-nav'>
            <li class='dropdown'>
              <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Authentication <b class='caret'></b></a>
              <ul class='dropdown-menu'>
                <li><a href='/login'>Login</a></li>
                <li><a href='/logout'>Logout</a></li>
                <li><a href='/retrieval'>Password Retrieval</a></li>
                <li><a href='/registration'>Registration</a></li>
              </ul>
            </li>
            <li class='dropdown'>
              <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Users <b class='caret'></b></a>
              <ul class='dropdown-menu'>
                <li><a href='/users'>Users</a></li>
                <li><a href='/localusers'>Local Users</a></li>
              </ul>
            </li>
            {{#if admin}}
            <li class='dropdown'>
              <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Admin <b class='caret'></b></a>
              <ul class='dropdown-menu'>
                <li><a href='/supersecretpage'>Super Secret Page</a></li>
                <li><a href='/ultrasecretpage'>Ultra Secret Page</a></li>
              </ul>
            </li>
            {{/if}}
          </ul>

          {{#if loggedin}}
          <ul class='nav navbar-nav navbar-right'>
            <li><a href='/logout'><span class='glyphicon glyphicon-off'></span></a></li>
          </ul>
          {{/if}}

        </div>
      </nav>
    </header>

    <div class="container">

{{{body}}}

    </div>

  </body>
</html>
